*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html {
  background-color: #232946;
  color: white;
  font-size: 1.2rem;
}

body {
  margin: 0;
}

main {
  margin: 0 1rem;
}

/* color variables to be used in the project*/
:root {
  --result-item-bg: hsl(230, 58%, 82%);
  --result-item-title: hsl(309, 51%, 43%);
  --result-item-desc: hsl(230, 33%, 21%);
  --nav-bar-bg: hsl(240, 8%, 9%);
  --nav-bar-bottom-border: hsl(16, 37%, 60%);
  --active-link-bg: linear-gradient(
    90deg,
    hsl(173, 100%, 33%) 0%,
    hsl(243, 46%, 40%) 0%,
    hsl(309, 51%, 43%) 50.56%,
    hsl(358, 74%, 49%) 100%
  );
  --nav-link-bg: none;
  --nav-link-text: hsl(240, 3%, 85%);
  --search-button-bg: hsl(309, 51%, 43%);
  --search-button-hover-bg: var(--active-link-bg);
  --search-bar-bg: hsl(240, 3%, 85%);
  --search-bar-text: hsl(309, 51%, 43%);
  --search-bar-focus-border: hsl(16, 37%, 60%);
}
